ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 20px 0;
  border-bottom: 1px solid lightgray;
}

.video-item-wrapper {
  display: flex;
  padding-bottom: 10px;
}

.video-item-wrapper img {
  margin-right: 20px;
  height: 100%;
}

.video-item-wrapper .publishAt {
  font-size: 0.8em;
  color: gray;
}

.search-bar-wrapper {
  margin: 10px 0;
}

.search-bar-wrapper input {
  width: 100%;
  padding: 5px;
}

.comment-item-wrapper {
  display: flex;
  justify-content: space-between;
  max-height: 170px;
  font-size: 0.8em;
}

.comment-item-wrapper img {
  height: 100%;
}

.comment-item-wrapper .comment-area {
  margin: 0 20px;
  overflow: scroll;
}

.comment-item-wrapper .comment-owner {
  font-weight: bold;
}
